# Credentials
# DB
DB_USER=postgres
DB_PASSWORD=test1234
# PGADMIN
UI_USER=pgadmin4@pgadmin.org
UI_PASSWORD=admin

# Ports
# DB
POSTGRES_PORT=5432
# PGADMIN
EXTERNAL_ADMIN_PORT=4007


# sam-appt config
EXTERNAL_URL=http://127.0.0.1:8053

# Docker image architecture and version
# aarch64, x64
IMAGE_ARCH=aarch64
IMAGE_VER=2.5.0

# Ports mapping
EXTERNAL_PORT=8053
PORT=8080

DATABASE_URL=postgresql://postgres:test1234@pgsql:5432

# https://it-tools.tech/token-generator
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=36000

SUPER_CLIENT_FIRST_NAME="Super"
SUPER_CLIENT_LAST_NAME="Client"
SUPER_CLIENT_EMAIL="super-client@test.com"

USE_MINIFIED_FRONTEND=true

# Mailer
MH_EXT_PORT=8045
MAIL_SERVER=mailhog-intgr-evgeny
